<h2><%= "DEALER vs " + session[:player_name].upcase %></h2>


<div class="well extend">
  <h4>
    dealer's hand: 
    <% if !session[:player_turn] %>
      <span class="badge badge-inverse">
        <%= countCards(session[:dealer_hand]) %>
      </span>
    <% end %>
  </h4>
  <% if session[:player_turn] %>
    <div class="card"><%= getImage(session[:dealer_hand][0]) %></div>
    <div class="card"><img src="/images/cards/cover.jpg" /></div>
  <% else %>
    <% session[:dealer_hand].each do |card| %>
      <div class="card"><%= getImage(card) %></div>
    <% end %>
  <% end %>
</div>

<div class="well clear extend">
  <h4>
    player's hand: 
    <span class="badge badge-inverse">
      <%= countCards(session[:player_hand]) %>
    </span>
  </h4>
  <% session[:player_hand].each do |card| %>
    <div class="card"><%= getImage(card) %></div>
  <% end %>
</div>



<% if session[:player_turn] %>
  <p> What would you like to do? </p>
  <form id="hit_form" action="/hit" method="post">
    <fieldset>
      <button type="submit" class="btn btn-success">hit</button>
    </fieldset>
  </form>
  <form id="stay_form" action="/stay" method="post">
    <fieldset>
      <button type="submit" class="btn btn-warning">stay</button>
    </fieldset>
  </form>
<% end %>

<% if @display_hit_dealer %>
  <form action="/hit_dealer" method="post">
    <fieldset>
      <button type="submit" class="btn">hit dealer</button>
    </fieldset>
  </form>
<% end %>