<div id="game">

  <div class="row">
    <div class="span6">
      <div class="well extend">
        <h4>
          DEALER'S HAND
          <% if !@display_hit_or_stay %>
            (
            <span class="badge badge-inverse">
              <%= countCards(session[:dealer_hand]) %>
            </span>
            )
          <% end %>
        </h4>
        <% if @display_hit_or_stay %>
          <div class="card"><%= getImage(session[:dealer_hand][0]) %></div>
          <div class="card"><img src="/images/cards/cover.jpg" /></div>
        <% else %>
          <% session[:dealer_hand].each do |card| %>
            <div class="card overlap"><%= getImage(card) %></div>
          <% end %>
        <% end %>
      </div>

      <% if @display_hit_dealer %>
        <form id="hit_dealer" action="/hit_dealer" method="post">
          <fieldset>
            <button type="submit" class="btn">hit dealer</button>
          </fieldset>
        </form>
      <% end %>

    </div>
  
    <div class="span6">
      <div class="well clear extend" id="player_cards">
        <h4>
          <%= session[:player_name].upcase + "'S HAND" %> (
          <span class="badge badge-inverse">
            <%= countCards(session[:player_hand]) %>
          </span>
          )
        </h4>
        <% session[:player_hand].each do |card| %>
          <div class="card overlap"><%= getImage(card) %></div>
        <% end %>
      </div>
      <% if @display_hit_or_stay %>
        <h4> what would you like to do? </h4>
        <form id="hit_form" action="/hit" method="post">
          <fieldset>
            <button type="submit" class="btn btn-success">hit</button>
          </fieldset>
        </form>
        <form id="stay_form" action="/stay" method="post">
          <fieldset>
            <button type="submit" class="btn btn-warning">stay</button>
          </fieldset>
        </form>
      <% end %>
    </div>
  </div>

  <%if @loser %>
   <div class="alert alert-error"><%=@loser%></div>
  <% end %>
  <%if @winner %>
    <div class="alert alert-success"><%=@winner%></div>
  <% end %>
  
  <div class="clear">
      <% if @game_over %>
        <h3> Play again? </h3>

        <form action="/bet" method="get">
          <fieldset>
            <button type="submit" class="btn btn-success">yes</button>
          </fieldset>
        </form>
        <form action="/end" method="get">
          <fieldset>
            <button type="submit" class="btn btn-warning">no</button>
          </fieldset>
        </form>

        <h6 class="clear"> you now have <%= session[:total] %>$ </h6>
      <% end %>
    </div>

</div>