<h2><%= "DEALER vs " + session[:player_name].upcase %></h2>


<div class="well extend">
  <h4>dealer's hand:</h4>
  <% if session[:player_turn] %>
    <%= getImage(session[:dealer_hand][0]) %>
    <img src="/images/cards/cover.jpg" />
  <% else %>
    <% session[:dealer_hand].each do |card| %>
      <div class="card"><%= getImage(card) %></div>
    <% end %>
  <% end %>
</div>

<div class="well clear extend">
  <h4>your hand:</h4>
  <% session[:player_hand].each do |card| %>
    <div class="card"><%= getImage(card) %></div>
  <% end %>
</div>



<% if session[:player_turn] %>
  <p>You have <%= countCards(session[:player_hand]) %> points. What would you like to do? </p>
  <form id="hit_form" action="/hit" method="post">
    <fieldset>
      <button type="submit" class="btn btn-success">hit</button>
    </fieldset>
  </form>
  <form id="stay_form" action="/stay" method="post">
    <fieldset>
      <button type="submit" class="btn btn-warning">stay</button>
    </fieldset>
  </form>
<% end %>

<% if !session[:player_turn] && !session[:game_over] %>
  <form action="/hit_dealer" method="post">
    <fieldset>
      <button type="submit" class="btn">dealer plays</button>
    </fieldset>
  </form>
<% end %>